* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  width: 100%; }

header {
  grid-area: header; }
  header .logoHertech {
    width: 8rem;
    height: 8rem; }
  header .redes {
    height: 1.5rem;
    width: 1.5rem; }
  header .rotate-vert-center {
    -webkit-animation: rotate-vert-center 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
  header .colorLink {
    color: green !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: bolder;
    margin-left: 1rem; }
  header .colorLink- {
    color: green !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: bolder; }
  header .chupala {
    background-color: whitesmoke; }
  header .colorLink:hover {
    color: #063e1e !important; }
  header .menu {
    border: solid 2px green !important; }
  header .colorLink-:hover {
    color: #063e1e !important; }
  header .menu:hover {
    border: solid 2px #063e1e !important; }

main {
  grid-area: main;
  width: 100%;
  background-color: white; }
  main h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #063e1e; }
  main .flexProductos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  main .cartaProductos {
    width: 18rem;
    height: 19rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke; }
  main .cartaProductos:hover {
    box-shadow: 1px 1px 1px 1px #8e8d8d;
    transform: scale(1.01); }
  main .fotoProducto {
    width: 10rem;
    height: 10rem; }
  main .textoProductos {
    width: 100%; }
  main .subtitulo {
    text-align: center; }
    main .subtitulo a {
      color: #0a944a;
      text-decoration: none;
      font-weight: bold; }
  main .subtitulo a:hover {
    color: #063e1e; }

ul li {
  padding-left: 2.5rem;
  list-style: none;
  color: #0a944a;
  font-weight: 500; }

footer {
  grid-area: footer;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .logoHertech {
    width: 8rem;
    height: 8rem; }
  footer .rotate-vert-center {
    -webkit-animation: rotate-vert-center 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
  footer .footerTexto {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .footerTexto p {
      color: #063e1e;
      text-align: center; }
  footer span {
    padding-top: 10rem;
    font-size: 0.5rem;
    text-align: right;
    color: #949484; }
    footer span a {
      color: #949484;
      text-decoration: none; }
    footer span a:hover {
      color: #063e1e; }
  footer ul li {
    list-style: none; }
    footer ul li a {
      font-size: smaller;
      text-decoration: none;
      color: green; }
    footer ul li a:hover {
      color: #063e1e; }
  footer .redes {
    height: 1rem;
    width: 1rem; }
  @media screen and (min-width: 1024px) {
    footer {
      flex-direction: row; }
      footer .footerTexto {
        display: inline-block;
        margin-left: 20rem; } }

img {
  height: 15rem;
  width: 15rem; }

h2 {
  color: green; }

main p {
  margin: 1rem 2rem;
  text-align: center;
  color: green; }
  @media screen and (min-width: 768px) {
    main p {
      margin: 1rem 10rem; } }
  @media screen and (min-width: 1024px) {
    main p {
      margin: 1rem 15rem; } }
