header{
    grid-area: header;
    .logoHertech{
        width: 8rem;
        height: 8rem;
    }
    .redes{
        height: 1.5rem;
        width: 1.5rem;
    }
    .rotate-vert-center {
        -webkit-animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
        @-webkit-keyframes rotate-vert-center {
            0% {
            -webkit-transform: rotateY(0);
                    transform: rotateY(0);
            }
            100% {
            -webkit-transform: rotateY(360deg);
                    transform: rotateY(360deg);
            }
    }
        @keyframes rotate-vert-center {
            0% {
            -webkit-transform: rotateY(0);
                    transform: rotateY(0);
            }
            100% {
            -webkit-transform: rotateY(360deg);
                    transform: rotateY(360deg);
            }
    }
  
    .colorLink{
        color: green !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        font-weight: bolder;
        margin-left: 1rem;
    }
    .colorLink-{
        color: green !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        font-weight: bolder;
    }
    .chupala{
        background-color: whitesmoke;
    }
    //hover link
    .colorLink:hover{
        color: #063e1e !important;
    }
    .menu{
        border: solid 2px green !important;
    }
    .colorLink-:hover{
        color: #063e1e !important;
    }
    //hever menu
    .menu:hover{
        border: solid 2px #063e1e !important;
    }
}