main p{
    margin: 1rem 2rem;
    text-align: center;
    color: green;
    @media screen and(min-width: 768px) {
        margin: 1rem 10rem;
    }
    @media screen and(min-width: 1024px) {
        margin: 1rem 15rem;
    }
}